/* votre code CSS */

header h1 {
  color:black;
  font-weight: normal;
}

#mapid { height: calc(100vh - 150px) }


input[type="submit" i] {
	width:50px;
	height:50px;
	background: green;
	font:bold 13px Arial;
	border-radius:50%;
	border:none;
	color:#fff;
	margin-left: 30px;
}

input {
	margin-top: 30px;
	margin-left: 42%;
	width: 180px;
	height: 35px;
  	border-radius: 20px;
}

ul li a img {
	width: 30px;
}

ul li a{
    display: block;
    color: rgba(0, 0, 0, .7); 
	padding: 8px 8px 8px 8px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .4);
	box-shadow: 0 1px 0 rgba(255, 255, 255, .7) inset, 
                0 -1px 0 green inset, 
                0 -2px 0 green inset, 
                0 -3px 0 green inset, 
                0 -4px 0 green inset, 
                0 -5px 0 green inset;
}

ul{
    display: table;
	width: 500px;
	margin-left: 32%;
	padding: 0;
	background: linear-gradient(green);
}
ul li{
    display: table-cell;
}